node_modules/
dist/
.turbo/
.next/
coverage/
*.tsbuildinfo
.env
.env.local
.env.*.local
.DS_Store
*.log
pnpm-debug.log*
.vitest/
tmp/
test/
test
temp/
.backed/
**/src/generated/
design/
.cursor/
docs/*
!docs/assets/
!docs/assets/**
test/
*.traineddata
